@import url("../colors/file-colors.css");

/* Style for eye icon */
.bi-eye-slash-fill,
.bi-eye-fill {
    position: absolute;
    top: 52%;
    right: 1.5rem;
    font-size: 1.1rem;
    transform: translateY(-50%);
    margin: 0% !important;
    color: var(--bg-secondary);
}

.bi-eye-slash-fill:hover,
.bi-eye-fill:hover {
    color: var(--bg-slider);
}

/* Tooltip style */
.invalid-tooltip {
    width: auto;
    margin-top: 3px 0;
    border-radius: 0rem 0.2rem 0.2rem 0.2rem;
    background-color: var(--blue-dark-hover-2) !important;
    color: var(--bg-light) !important;
}