@import url("../colors/file-colors.css");

/* Form validation styles */
form .is-invalid {
    border-color: var(--blue-dark-hover) !important;
}

form .is-valid {
    border-color: var(--grey-light) !important;
}

form .form-control:invalid,
form .form-control:valid {
    box-shadow: none !important;
}

/* Form global styles */
.forms {
    display: flex;
    justify-content: center;
    margin: 5rem auto 6rem auto;
}

.forms input {
    margin: 1.1rem 0;
}

/* Inputs form-group */
.form-group input {
    width: 100%;
    padding: 1rem;
    border: 0.15rem solid;
    border-radius: 0.5rem;
    color: var(--text-light);
    box-sizing: border-box;
}

/* Float label style */
.floating-label-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

/* Global card style */
.card {
    border-radius: 0.8rem;
    overflow: hidden;
}

.card .card-body {
    padding: 2rem;
}

.card .card-header {
    border: none;
    background-color: var(--bg-dark-2);
    text-align: center;
}

.card .card-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

.card .card-footer p{
    margin: 0%;
}