@import url("../colors/file-colors.css");

.forms {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    margin-bottom: 1rem;
    padding: 1rem;
}

.forms input {
    margin: 1.3rem 0;
}

form .form-control:invalid,
form .form-control:valid {
    box-shadow: none !important;
}

.form-group input {
    width: 100%;
    border: 0.15rem solid;
    color: var(--text-light);
    caret-color: var(--text-light) !important;
    padding: 0.75rem;
    box-sizing: border-box;
    border-radius: 6px;
}

.floating-label-text {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    padding: 1rem;
    transform: translateY(-50%);
}

.card {
    border: 2px solid var(--bg-secondary);
    border-radius: 0.8rem;
    overflow: hidden;
}

.card .card-body {
    padding: 2rem 2.5rem;
}

.card .card-header {
    text-align: center;
    padding: 1.5rem 1rem;
}