:root {
    --bg-light: #fff;
    --bg-dark: #010409;
    --bg-dark-2: #151b23;
    --bg-slider: #cdcdcd;
    --text-light: #3c3c3c;
    --text-dark: #cdcdcd;
    --btn-light: #3c3c3c79;
    --btn-light-hover: #010409b3;
    --btn-dark: #cdcdcda5;
    --btn-green: #238636;
    --btn-green-hover: #238636b2;
    --bg-li-lightmode-hover: #cdcdcd7a;
    --bg-li-darkmode-hover: #cdcdcd1c;
    --bg-lightmode-toggler-btn: #1a1562f2;
    --bg-darkmode-toggler-btn: #ff98007f;
    --text-darkmode-primary-color: #4493f8;
    --text-lightmode-primary-color: #1e76bd;
}
