@import url("../colors/file-colors.css");

/* Estilos globais */
#main-navbar li a {
    border-radius: 0.3rem;
    display: flex;
    align-items: center;
    padding: 8px;
    transition: background-color 0.3s, color 0.3s;
}

#main-navbar li a i {
    margin-right: 0.5rem;
}

/* Modo Claro */
body.lightmode #main-navbar a {
    color: var(--text-light);
}

body.lightmode #main-navbar li a:hover {
    background-color: var(--bg-li-lightmode-hover);
    color: var(--bg-dark);
}

/* Modo Escuro */
body.darkmode #main-navbar a {
    color: var(--text-dark);
}

body.darkmode #main-navbar li a:hover {
    background-color: var(--bg-li-darkmode-hover);
}

/* Ícones do Navbar */
#toggle-icon {
    width: 10rem;
    color: var(--text-light);
}

body.darkmode #toggle-icon {
    color: var(--text-dark);
}

/* Botão de fechar */
#btn-close {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 6px;
    padding: 0;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
 /* Cor do X */
}

body.lightmode #btn-close {
    background-color: var(--bg-li-lightmode-hover);
    color: var(--btn-light); /* Cor do X */
}

body.lightmode #btn-close:hover {
    color: var(--text-light); /* Cor do X */
}

body.darkmode #btn-close {
    background-color: var(--bg-li-darkmode-hover);
    color: var(--btn-dark); /* Cor do X */
}

body.darkmode #btn-close:hover {
    color: var(--bg-light); /* Cor do X */
}

#btn-close svg {
    width: 16px;
    height: 16px;
}

/* Toggler do Navbar */
#toggle-nav {
    display: flex;
    align-items: center;
    border: 0.16rem solid var(--border-light);
    max-width: 2.5rem;
    height: 1.8rem;
    padding: 0.5rem;
}

#toggle-nav svg{
    min-width: 100%;
}

body.darkmode #toggle-nav {
    border-color: var(--text-dark);
    color: var(--text-dark);
}