@import url("../colors/file-colors.css");

#main-navbar li {
    border-bottom: 2px solid var(--placeholder-style);
    margin-right: 1rem;
}

body.lightmode #main-navbar a {
    color: #3c3c3c;
}

body.darkmode #main-navbar a {
    color: #cdcdcd;
}

body.lightmode #toggle-nav {
    border: 0.2rem solid #3c3c3c;
}

body.darkmode #toggle-nav {
    border: 0.2rem solid #cdcdcd;
    color: #cdcdcd;
}

/* Estilo padrão do botão */
#btn-close {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 5px;
    padding: 0;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

/* Modo Claro */
body.lightmode #btn-close {
    background-color: #808080;
    color: #fff; /* Define a cor do X */
}

/* Modo Escuro */
body.darkmode #btn-close {
    background-color: #cdcdcd;
    color: #3c3c3c; /* Define a cor do X */
}

/* Ajuste do SVG */
#btn-close svg {
    width: 16px;
    height: 16px;
}

body.lightmode #toggle-icon {
    width: 1.6rem;
    color: #3c3c3c;
}

body.darkmode #toggle-icon {
    width: 1.6rem;
    color: #cdcdcd;
}

#offcanvasNavbar svg {
    min-width: 2.5rem;
}

/* Estilo para o ícone no modo claro */
body.lightmode .img-fluid {
    fill: #000; /* Cor do ícone no modo claro */
}

/* Estilo para o ícone no modo escuro */
body.darkmode .img-fluid {
    fill: #cdcdcd; /* Cor do ícone no modo escuro */
}