@import url("../colors/file-colors.css");

/* Navbar links */
.navbar li a {
    border-radius: 0.3rem;
    display: flex;
    align-items: center;
    padding: 8px !important;
    font-weight: normal;
    transition: background-color 0.3s, color 0.3s;
}

.navbar li a i {
    margin-right: 0.5rem !important;
}

/* navbar icons */
nav svg{
    width: 10rem;
    color: var(--text-light);
}

/* offcanvas style */
.offcanvas{
    border-radius: 0rem 1rem 1rem 0rem;
}

/* Close button */
.btn-close {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.5rem;
    height: 1.5rem;
    border: none;
    border-radius: 0.37rem;
    padding: 0;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

nav .btn-close svg {
    width: 16px;
    height: 16px;
}

/* Toggle navbar styles */
nav .navbar-toggler {
    display: flex;
    align-items: center;
    max-width: 2.5rem;
    height: 1.8rem;
    padding: 0.5rem;
    border: 0.15rem solid var(--bg-secondary);
    color: var(--bg-secondary);
}

nav .navbar-toggler svg{
    min-width: 100%;
    height: auto;
}

/* Offcanvas image */
.offcanvas-header a img {
    border: 0.1rem solid var(--bg-slider);
    border-radius: 0.3rem;
    width: 2.5rem;
}

/* toggle button styles */
.toggle-btn {
    border: none;
    cursor: pointer;
    padding: 0;
    position: relative;
    width: 5.5rem;
    height: 2.5rem;
    border-radius: 2rem;
    transition: background-color 0.3s;
}

.toggle-btn .slider {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8px;
    width: 100%;
    height: 100%;
    color: var(--bg-slider);
}

.toggle-btn .icon-sun,
.toggle-btn .icon-moon {
    font-size: 1.3rem;
}

.toggle-btn .circle {
    position: absolute;
    top: 0.4rem;
    width: 1.7rem;
    height: 1.7rem;
    border-radius: 50%;
    transition: all 0.3s;
}