@import url("../colors/file-colors.css");

/* darkmode layout */
body {
    transition: background-color 0.5s ease, color 0.5s ease;
}

body.lightmode {
    background-color: var(--bg-light-2);
    color: var(--text-light);
}

body.lightmode nav, 
body.lightmode footer{
    background-color: var(--bg-light);
    color: var(--text-light);
}

body.lightmode nav {
    border-bottom-color: var(--bg-slider) !important;
}

body.darkmode {
    background-color: var(--bg-dark) !important;
    color: var(--text-dark);
}

body.darkmode .footer {
    border-top-color: var(--bg-secondary);
}

body.darkmode nav {
    background-color: var(--bg-dark-2);
}
/* lightmode navbar */
body.lightmode .navbar a {
    color: var(--text-light);
}

body.lightmode nav .navbar-toggler {
    border-color: var(--bg-dark);
    color: var(--text-dark);
}

body.lightmode .navbar li a:hover {
    background-color: var(--bg-li-lightmode-hover);
    color: var(--bg-dark);
}

body.lightmode .btn-close {
    background-color: transparent;
    color: var(--btn-light);
}

body.lightmode .btn-close:hover {
    background-color: var(--btn-dark);
}

body.lightmode .offcanvas {
    border: 0.13rem solid var(--bg-slider);
    border-radius: 0rem 1rem 1rem 0rem;
}

body.lightmode .offcanvas .offcanvas-footer {
    border-top: 0.13rem solid var(--bg-slider);
    border-radius: 0rem 0rem 1rem 0rem;
}

body.lightmode .toggle-btn .circle {
    left: 6px;
    background-color: #f2d421;
}

/* lightmode card component */
body.lightmode .card .card-header {
    background-color: var(--text-light);
    color: var(--bg-light);
}

body.lightmode .card .card-footer p a {
    text-decoration: none;
    font-weight: bold;
    color: var(--text-primary-color) !important;
}

body.lightmode .card .card-footer {
    background-color: var(--bg-light);
    border-top: 0.15rem solid var(--bg-slider) !important;
}

/* darkmode navbar */
body.darkmode .navbar a {
    color: var(--text-dark) !important;

}

body.darkmode .navbar li a:hover {
    background-color: var(--bg-li-darkmode-hover);
}

body.darkmode .navbar svg {
    color: var(--text-dark) !important;
}

body.darkmode .btn-close {
    background-color: transparent;
    color: var(--btn-dark-2);
}

body.darkmode .btn-close:hover {
    background-color: var(--btn-light);
}

body.darkmode nav .navbar-toggler {
    border-color: var(--text-dark);
    color: var(--text-dark);
}

body.darkmode .footer,
body.darkmode .offcanvas,
body.darkmode .offcanvas-body {
    background-color: var(--bg-dark-2);
}

body.darkmode .offcanvas{
    border-radius: 0rem 1rem 1rem 0rem;
}

body.darkmode .offcanvas .offcanvas-footer {
    border-top: 0.13rem solid var(--bg-li-darkmode-hover);
    border-radius: 0rem 0rem 1rem 0rem;
}

body.darkmode .toggle-btn {
    background-color: var(--bg-darkmode-toggler-btn);
}

body.darkmode .toggle-btn .circle {
    left: 10px;
    background-color: #3c3c3c;
    transform: translateX(2.7rem);
}

/*darkmode card component*/
body.darkmode .card .card-header {
    background-color: var(--bg-dark);
    color: var(--bg-light);
}

body.darkmode .card .card-body {
    background-color: var(--bg-dark-2);
}

body.darkmode .card .card-footer {
    background-color: var(--bg-dark-2);
    color: var(--bg-light);
}

body.darkmode .card .card-footer p a {
    text-decoration: none;
    font-weight: bold;
    color: var(--text-primary-color) !important;
}

/* darmode forms */
body.darkmode .form-group input {
    background-color: var(--bg-dark-2);
    color: var(--bg-slider);
    caret-color: var(--bg-slider) !important;
}

body.darkmode .form-group input:focus {
    background-color: var(--bg-dark-2);
    color: var(--bg-slider);
}

body.darkmode .floating-label-text {
    background-color: var(--bg-dark-2) !important;
    color: var(--bg-slider) !important;
}

/* Estilo genérico para autofill darkmode */
body.darkmode input:-webkit-autofill,
body.darkmode input:-webkit-autofill:hover,
body.darkmode input:-webkit-autofill:focus,
body.darkmode textarea:-webkit-autofill,
body.darkmode textarea:-webkit-autofill:hover,
body.darkmode textarea:-webkit-autofill:focus,
body.darkmode select:-webkit-autofill,
body.darkmode select:-webkit-autofill:hover,
body.darkmode select:-webkit-autofill:focus {
    -webkit-text-fill-color: var(--text-dark) !important; /* Define a cor do texto */
    -webkit-box-shadow: 0 0 0px 1000px transparent inset !important; /* Remove o fundo */
    transition: background-color 5000s ease-in-out 0s;
}