@import url("../colors/file-colors.css");

/* Estilos globais */
body {
    transition: background-color 0.5s ease, color 0.5s ease;
}

body.lightmode {
    background-color: var(--bg-light);
    color: var(--text-light);
}

body.darkmode {
    background-color: var(--bg-dark);
    color: var(--text-dark);
}

body.lightmode .offcanvas-body,
body.lightmode .offcanvas {
    background-color: var(--bg-light);
    color: var(--text-light);
}

body.darkmode #main-navbar,
body.darkmode .footer,
body.darkmode .offcanvas,
body.darkmode .offcanvas-body {
    background-color: var(--bg-dark-2);
}

body.lightmode .offcanvas {
    border: 0.13rem solid var(--bg-slider);
    border-radius: 0rem 1rem 1rem 0rem;
}

body.darkmode .offcanvas{
    border-radius: 0rem 1rem 1rem 0rem;
}

body.lightmode .offcanvas .offcanvas-footer {
    border-top: 0.13rem solid var(--bg-slider);
    border-radius: 0rem 0rem 1rem 0rem;
}

body.darkmode .offcanvas .offcanvas-footer {
    border-top: 0.13rem solid var(--bg-li-darkmode-hover);
    border-radius: 0rem 0rem 1rem 0rem;
}

.offcanvas-header a img {
    border: 0.1rem solid var(--bg-slider);
    border-radius: 0.3rem;
}

/* Estilos para o botão de alternância */
.toggle-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    position: relative;
    width: 5.5rem;
    height: 2.5rem;
    border-radius: 2rem;
    transition: background-color 0.3s;
    background-color: var(--bg-lightmode-toggler-btn);
}

body.darkmode .toggle-btn {
    background-color: var(--bg-darkmode-toggler-btn);
}

.toggle-btn .slider {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8px;
    width: 100%;
    height: 100%;
    color: var(--bg-slider);
}

.toggle-btn .icon-sun,
.toggle-btn .icon-moon {
    font-size: 1.3rem;
}

.toggle-btn .circle {
    position: absolute;
    top: 0.4rem;
    width: 1.7rem;
    height: 1.7rem;
    border-radius: 50%;
    transition: all 0.3s;
}

body.lightmode .toggle-btn .circle {
    left: 6px;
    background-color: #f2d421;
}

body.darkmode .toggle-btn .circle {
    left: 10px;
    background-color: #3c3c3c;
    transform: translateX(2.7rem); /* Move o círculo para o lado direito */
}

body.lightmode nav .btn-dark {
    background-color: var(--bg-light);
    color: var(--text-light) !important;
    text-decoration: underline 0.1rem solid var(--text-light);
    border: none;
}

body.darkmode nav .btn-dark {
    background-color: var(--bg-dark-2);
    text-decoration: underline 0.1rem solid var(--text-dark);
    border: none;
}

nav .btn-dark:hover {
    transform: scale(1.1); /* Amplia 5% o botão */
    transition: transform 0.1s ease; /* Faz o efeito suave */
}